body {

    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover;
  
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			background-color: #f0f0f0;
		}

        .logo-left img{
          height: 70px;
          width: auto;
          position: absolute;
          top: 0;
          left: 0;
      
        }

		h1 {
			font-size: 2em;
			margin-bottom: 1em;
                color: white;
				
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			padding: 2em;
			border-radius: 1em;
			box-shadow: 0 0.5em 1em rgb(0, 170, 255);
		}

		label {
			font-size: 1.2em;
			margin-bottom: 0.5em;
		}

		input[type="text"] {
			padding: 0.5em;
			font-size: 1.2em;
			border-radius: 0.5em;
			border: none;
			outline: none;
			box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
		}

		input[type="button"] {
			padding: 0.5em 1.5em;
			margin-top: 1em;
			font-size: 1.2em;
			border-radius: 0.5em;
			border: none;
			outline: none;
			box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
			background-color: #007bff;
			color: #fff;
			cursor: pointer;
		}